<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>KVIZ</title>
  <meta name="description" content="kviz - website">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>

  <div class="content">
    <div class="logo-div">
      <img class="logo" alt="logo" src="assets/img/logo.png" />
    </div>
    <div class="buttons-div">
      <div class="button-child">
        <a class="button" href="#">
          join quiz
        </a>
      </div>
      <div class="button-child">
        <a class="button" href="#">
          create quiz
        </a>
      </div>
    </div>
  </div>

  <script src="assets/js/script.js"></script>
</body>
</html>
